.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.App-logo img {
  max-width: 5rem;
}

.App-logo p {
  color: #fff;
  font-size: calc(10px + 2vmin);
}

.boards-holder {
  position: relative;
  z-index: 1;
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  min-height: 100vh;
}
