.add-card-form {
    background: rgba(20,21,24, 1);
    padding: 1rem;
}

.add-card-form label {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    display: block;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-buttons > button {
    margin: 0 0.5rem;
}